body {
  background-color: darkslategrey;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  color: white;
}

.labels {
  padding-left: 10px;
  padding-right: 5px;
}

.control-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 5px;
}

.metric-banner {
  max-width: 95%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background: white;
}
